<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NQL-A A^2PS Enterprise</title>

    <!-- Bootstrap Core CSS -->
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- MetisMenu CSS -->
<link href="{{ url_for('static', filename='css/plugins/metisMenu/metisMenu.min.css') }}" rel="stylesheet">
    <!-- Timeline CSS -->
<link href="{{ url_for('static', filename='css/plugins/timeline.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
<link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">
    <!-- Morris Charts CSS -->
<link href="{{ url_for('static', filename='css/plugins/morris.css') }}" rel="stylesheet">
    <!-- Custom Fonts -->
<link href="{{ url_for('static', filename='font-awesome-4.1.0/css/font-awesome.min.css') }}" type="text/css">
<link href="{{ url_for('static', filename='css/plugins/social-buttons.css') }}" type="text/css" rel="stylesheet">
<script type="text/javascript" src={{url_for("static" ,filename="js/jquery.js")}}></script>
<script>
    $(".error").hide();
    </script>


</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;background:black;">
            <div class="navbar-header" style="background:purple">
               
                <a class="navbar-brand" href="../{{username}}" style="color:black;">donut 1.0</a>
                            </div>
            <div class="navbar-header" style="background:black">
               
                <a class="navbar-brand" href="../{{username}}" style="color:purple;">NQL</a>
                            </div>
            

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> {{username}}</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="../.."><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <button class="btn btn-info beep" style="width:200px">SQlian help</button>
                                <span class="input-group-btn">
                                <script>
                                    
                                            
                                    
                                    
                                    </script>
                            </span>
                            </div>
                            
                        </li>
                        <li>
                            <a class="active" href="../{{username}}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        
                        <li>
                            <a href=""><i class="fa fa-table fa-fw"></i> Query Generator</a>
                        </li>
                        <li>
                            <a href="../{{username}}/schemagenerator"><i class="fa fa-edit fa-fw"></i> Schema Generator</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Explore More<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="../{{username}}/editor">Editor</a>
                                </li>
                                
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page-wrapper" style="min-height:295px;background:white;" >
        <div class="row">
        <div class="col-lg-12">
        <h1 class="page-header" >
            Query Generator
            </h1>
            </div>
        <div class="col-lg-8">
       <div class="row">
    <div class="col-xs-6">
        <form method="post" action="../{{username}}/result" target="i1">
            <script>
            window.open("../{{username}}/result","windowNew","width=300","height=300");
            return true;
            
            
            </script>
            <input type="text" class="typeahead  form-control " name="query" style="width:600px;color:black;font-weight:bold;" placeholder="please insert like an amateur not like a novice.." / required >
            <br>
            <input type="submit" class="btn btn-primary" value="assemble_query">
        
        </form  >

    </div>
</div>
            </div>
            </div>
        <br>
        <br>
        <iframe href="../{{username}}/result" name="i1" style="background:black;width:800px;"></iframe>
        <br>
        <br>
        <br>
        <br>
        <button name="beast" class="beast btn btn-danger">not satisfied with the result</button>
            <br>
            <div class="error" >
            <form method="post" action="../{{username}}/update" class="error" >
            <input type="text" placeholder="enter your suggestion...our analyst will get the monkey's some banana" name="bingo" style="width:500px;height:35px;" required>
            <input type="submit" class="btn btn-primary">
            </form> 
        </div>
        </div>
        <script type="text/javascript" src={{url_for("static" ,filename="js/jquery.js")}}></script>
        <script>
    $(document).ready(function(){
                      $(".error").hide();});
     $(document).ready(function(){
         $(".beast").click(function(){
             $(".error").toggle(100);
            
             
             ;});});
            </script>
    <script type="text/javascript" src={{url_for("static",filename="js/bootstrap.min.js")}}></script>
 <script type="text/javascript" src={{url_for("static",filename="js/typeahead.js")}}></script>
    <script src={{url_for("static",filename="js/plugins/metisMenu/metisMenu.min.js")}}></script>
    <script type="text/javascript" src={{url_for("static",filename="js/sb-admin-2.js")}}></script>
   
        
        


</body>

</html>
